body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	line-height: 1.7em;
	color: #000000;
	background: #f6f6f6;
}

#container {
    width: 400px;
    margin: 10px;
    padding: 20px;
    background-color: white;
    float: left;
}

img {
    margin: 10px;
    width: 60%;
    min-width: 400px;
    float: left;
}