@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
/*
DM Sans
Regular 400
Medium 500
Bold 700
*/
@media (max-width: 500px){
    .thumbnail {
    
        height:62.5px;
        margin-bottom: 8%;
        width: 112.5px;
    }
}
@media (max-width: 640px){
    .thumbnail {
    
        height:200px;
        margin-bottom: 8%;
        
        width: 360px;
    }
}
@media (min-width: 641px){
    .thumbnail {
    
        height:250px;
        margin-bottom: 8%;
        
        width: 450px;
    }
}
/*
Github:
https://github.com/logos 

Email:
<div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

*/

/*
Styles

1. General Styles

2. Navigation Styles
*/
body {
    background-color: #F8F8F8;
    color: #041520;
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.6rem;
}
h2{
    line-height: 2.5rem;
}
#subheading {
    font-size: .85rem;
}
p {
    margin: 0;
}
a {
    color: inherit;
}
a:hover {
    text-decoration: none;
    color: #3D7499;

}
.logo {
   
    max-width: 5rem;
    height: auto;

}
/*Navigation Styles*/

header {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 2.5px;
}

.navbar {
    background-color: #C1D2DE; /*#B8CCD9; #A3BCCC; /*#E2EBF1;*/
    height: 15vh;
    padding: 0;
}
.nav-item {
    font-size: 0.85rem;
    font-weight: 400;
    letter-spacing: 2.5px;
}

.active{
    text-decoration: line-through;
}
.nav-item:hover{
    background-color: #E4ECF1;
}


.brand {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 5px;

}



.intro {
    padding: 50px 0px 15px;
}
.blurb {
    width: 50%;
}
hr {
    width: 45%;
    background-color: #041520;
}
.projects {
    margin-top: 3%;
    margin-bottom: 1%;
    max-width: 75%;
}


img.icon {
    margin: 1% 1%;
    width: 2.5rem;
}

[class $= "layer"]{
    padding: 1% 3%; /*top/bot l/r*/

}
.top-layer{
    background-color: #E4ECF1;
    padding-top: 3%;
}
.mid-layer{
    background-color: #D3DFE7;
}
.bot-layer{
    background-color: #C1D2DE;
}

.about{
    width: 40%;
}
.headshot{
    margin: 1%;
}
#carouselExampleIndicators {
    max-width: 100%;
    height: auto;
    overflow: hidden;
}
.carousel{
    display: block;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    
    
    transform-style: preserve-3d;
}
.carousel-wrapper * {
    box-sizing: border-box;
  }

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display:block;
    overflow: hidden;
  }


.summary{
    max-width: 50%;
    
}
.work{
    margin-top: 2rem;
}


#carousel-fit-image{
    width: 100vw;
    height: 85vh;
    object-fit: cover;
    overflow: hidden;
}

.hidden{
    visibility: hidden;
}

.carousel-caption{
    /*changed from 20px in Bootstrap*/
    top: 25%;
}
    
.carousel-button{
    margin-top: 30vh;
}
.btn-lg{
    padding: 1rem 2rem;
}
input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

  
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.form {
    padding: 10vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-color:#2424241a; 
}
.text-left {

    padding-left: 0;
}
.text-right {
    padding-right: 0;
}

/*
ArcGIS Styles
*/
.embed-container {position: relative; padding-bottom: 80%; height: 0; max-width: 100%;} .embed-container iframe, .embed-container object, .embed-container iframe{position: absolute; top: 0; left: 0; width: 100%; height: 100%;} small{position: absolute; z-index: 40; bottom: 0; margin-bottom: -15px;}