
<!doctype html>
<html lang = "en">
  <head>
    <meta charset = "utf-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name = "description" content="Lisa Leung">
    <meta name = "keywords" content = "portfolio, CMU, IS, Information Systems, Carnegie Mellon University, Cho-Lin Leung">
    <meta name = "author" content = "Lisa Leung">

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/carousel/">

   
    <!-- Bootstrap core CSS -->
    <link href = "../static/assets/css/bootstrap.min.css" rel = "stylesheet">
    
     <!-- CSS-->
     <link href = "../static/assets/css/styles.css" rel = "stylesheet"> 

    <!-- Javascript-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../static/assets/js/bootstrap.bundle.min.js"></script>

  </head>

<body>
  
    <!--navbar adapted from https://getbootstrap.com/docs/4.0/components/navbar/-->
    <nav class="navbar sticky-top navbar-expand-lg navbar-light">
      <a class="navbar-brand brand p-4" href="index.html"><img class = "logo" src = "../static/assets/images/branding-and-credits/tBigVwLogo.png" alt = "The Vaccine Watch Logo; Designed by Leah Walko (c) 2021"> </a>

      <header> The Vaccine Watch</header>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item p-4">
              <a class="nav-link " href="#nearby">Nearby</a>
            </li>
            <li class="nav-item p-4">
              <a class="nav-link" href="#types">Types</a>
            </li>
            <li class="nav-item p-4">
              <a class="nav-link" href="#faqs">FAQs</a>
            </li>
            <li class="nav-item p-4">
              <a class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item p-4">
              <a class="nav-link" href="account.html">Account</a>
            </li>
          
          </ul>
        </div>
    </nav> <!--end nav-->
    <div class = "form container">
      <h2 class = "text-center">Log In</h2>
      <form id = "log-in" name = "log-in">
        <label for = "first_name">First Name:</label><br>
        <input type = "text" id = "first_name" name = "categories"
        required
        placeholder = "Andrew"
        >
        <br>
        <br>
        <label for = "last_name">Last Name:</label><br>
        <input type = "text" id = "last_name" name = "categories"
        required
        placeholder = "Carnegie"
        >
        <br>
        <br>
        <label for = "birthday">Birth Date:</label><br>
        <input type = "date" id = "birthday" name = "categories"
          required
          placeholder = "2020-01-01"
          value = "2020-01-01"
          min = "1900-01-01"
          max = "2020-01-01"
        >
        <br>
        <br>
        <label for = "street_1">Street Address Line 1:</label><br>
        <input type = "text" id = "street_1" name = "categories"
        required
        placeholder = "5000 Forbes Avenue"
        >
        <br>
        <br>
        <label for = "street_2">Street Address Line 2:</label><br>
        <input type = "text" id = "street_2" name = "categories"
        >
        <br>
        <br>
        <label for = "city">City:</label><br>
        <input type = "text" id = "city" name = "categories"
        required
        placeholder = "Pittsburgh"
        >
        <br>
        <br>
        <label for = "zip">Zip Code:</label><br>
        <input type = "number" id = "zip" name = "categories"
          required
          placeholder = "15213"
          min = "00000"
          max = "99999"
        >
        <br>
        <br>
        <label for = "state">State:</label><br>
        <input type = "text" id = "state" name = "categories"
          required
          placeholder = "PA"
          maxlength = "2"
          >
        <br>
        <br>
        <label for = "phone">Phone:</label><br>
        <input type = "tel" id = "phone" name = "categories"
          required
          placeholder = "412-268-2000"
          pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}">
        <br>
        <br>
        <input class = "hidden" type="submit" value="Submit" href = "info.html">
        <a href="info.html" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Submit</a>

      </form>
    </div> <!--end form container-->
    

</body>
<footer class = "text-center">
  <div class = "top-layer">
    <h1 class = "brand">The Vaccine Watch</h1>
    <hr>
    <!--insert icons here-->
    <a href = "mailto:clleung@andrew.cmu.edu"><img class = "icon" src = "../static/assets/images/branding-and-credits/gmail.svg"></a>
    <a href = "https://github.com/clleung/tartanhacks21"><img class = "icon" src = "../static/assets/images/branding-and-credits/GitHub-Mark-120px-plus.png"></a>
  </div> <!--end top-layer-->
  <div class = "mid-layer">
    <p>Hosted on GitHub Pages and made with <a href = "https://getbootstrap.com/docs/4.0/about/license/"><strong>Bootstrap</strong></a>.
    <br>
    <br>
       This site is maintained by <a href = "https://github.com/clleung/tartanhacks21" ><strong>Kyle Yang, Leah Walko, Lisa Leung, and Sara Song</strong></a>. View this project on <a href = "https://github.com/clleung/tartanhacks21"><strong>GitHub</strong></a>.
    </p>
    
  </div> <!--end mid-layer-->

  <div class = "bot-layer">
    <p>
      &copy; 2021 Kyle Yang, Leah Walko, Lisa Leung, and Sara Song
    </p>
    
  </div> <!--end bot-layer-->
</footer>
</html>

